body{
    margin: 30px;
}

h1{
    font-size: 50px;
    font-weight: 900;
    font-family: Impact, Charcoal, sans-serif;
}

h2{
    font-family: Impact, Charcoal, sans-serif;
}

p{
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

header{
    text-align: center;
}

header ul li{
    display: inline-block;
}

hr{
    height: 5px;
    background-color: black;
    color: black;
}

.bodytext.clearfix img{
    float: right;
    height: 250px;
    border-radius: 50%;
}

section hr{
    height: 2px;
    background-color: gray;
}

section{
    margin: 40px;
}

footer ul li{
    display: inline-block;
}

footer ul{
    text-align: center;

}

.clearfix {
  overflow: auto;
}

/*nav bar css*/
ul.navigation li{
    border-left: solid 2px;
    padding: 0px 0px 0px 4px;
}
ul.navigation li:first-child {
    border-left: none;
}

ul.navigation{
    padding-left: 0px;
    font-family: "Arial Black", "Gadget" , sans-serif;
}
/*end nav bar*/

.portfolio_img{
    height: auto;
    border-radius: 0px;  
    text-align: center;
}
